*{
  margin: 0;
  padding: 0;
}
.contenedor{
  border: 7px;
  border-style: solid;
  border-radius: 15px;
  
}
.logo_contenedor{
  
}
.logo_contenedor h1{
  font-size: 25px;
  
}
menu_container{
  
}
.menu{
  
}
ul_menu{
  margin: 50px 50px;

  
  
}

.ul_menu li{
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
  position: absolute;
  right:20px;
  top:-0px;
  justify-content: center;
}
