@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&family=Rubik+Iso&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

 img{
    max-width:100%;
} 
.container{
    max-width:1368px;
    margin:0 auto;
}

    
.header{
    background: linear-gradient(
    rgba(29,30,35,0.8),
      rgba(29,30,35,0.8)
    ),
    url("/im치genes /bg.jpg" );
    background-position: top center;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0 0 0;
    
}

.menu{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    color: #4488ee;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    font-size:18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
    
}

.menu .navbar ul li a:hover{
    color: #4782f0;
}

#menu{
    display: none;
    
}

.menu-icono{
    width: 25px;
    
}

.menu label{
    cursor: pointer;
    display: none;
    
}

.header-txt{
    text-align: center;
    padding: 0 200px;
    
    
}

.header-txt h1{
    font-size:85px;
    line-height: 1;
    color: rgb(66, 114, 216);
    font-family: 'bebas neue' sans-serif;
    margin-bottom: 20px;
}

p{
    font-size: 17px;
    color: whitesmoke;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(
    90deg, rgb(89, 72, 245)0%,
    rgb(88, 155, 241) 100%

    
    );

    transition: all 0.5s;
    }
    .btn-1:hover{
        transform: scale(1.2);
    }

.about{
    padding: 100px 0;
    background-color: black;


}


.about-content {
    display: flex;
    align-items: center;
}

.about-txt{
    flex-basis:50%;
    padding-right:35px;
    
}


span{
    font-size: 14px;
    text-transform: uppercase;
    color: #4782f0;

}

h2{
    font-size: 35px;
    color: #4782f0;
    margin: 15px 0;
    line-height: 1;
}

hr{
    border:1px solid #4782f0;
    width: 10%;
    margin-bottom: 30px;
    
}

.about-img{
    flex-basis:50%;


}
.about-img img{
border-radius: 15px;

}

.testimonial{
    padding: 100px 0;
    background: #191A1F;
    text-align:center;
}

.testimonial-content{
    display:flex;
    justify-content: space-between;
    margin-top:35px;
}

.testimonial-1{
    flex-basis: calc(50% -25px);
    background: #3C3B3B;
    padding:25px;
    box-shadow: 0 0 20px #111219;
}


.testimonial-1 h4{
    color: white;
    font-size: 35px;
    margin-bottom:15px;
    
}



.testimonial-1 p{
    font-size: 15px;
    margin-bottom: 10px;
    
}

.face{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid 4782f0 ;
    margin-bottom: 15px;
    
}

.star{
    width: 100px;
    
}

.plans{
    padding: 100px 0 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: black;
}

.plans hr{
    width: 5%;
    
}

.plans-content{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top:25px;
    
}

.plan-1{
    flex-basis:calc(33.3%-20px);
    border:1px solid rgba(112, 112, 112, 1);
    padding:30px 50px;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1),
    
}


.plan-1 span{
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.plan-1 h3{
    padding:8px;
    font-size: 25px;
    color: white;
    margin: 25px 0 35px 0;
    background: linear-gradient(90deg,
    rgb(89, 72, 245)0%,
    rgb(88, 155, 241) 100%)
};

plan-1 p{
    margin-bottom: 20px;
}

.information{
    background: #342D2D;
}


.information-content{
    display: flex;
}


.information-txt{
    flex-basis: 50%;
    max-width:500px;
    margin:0 auto;
    padding:80px 0 0 0 ;
    
}

input{
    display:block;
    padding:17px;
    background: transparent;
    border:1px solid #827A7A;
    width:350px;
    font-size:17px;
    color:#FFFFFF;
    margin-bottom: 25px;
}

::placeholder{
    color:#D7D7D7;
}

.information-img{
    flex-basis: 50%;
    
}

.information-img img{
    height: 100%
}

.service{
    margin:50px 0;
    display: flex;
    align-items: center;
}

.service h3{
    font-size: 17px;
    color:#FFFFFF;
    font-weight: 500;
    margin-left: 15px;
    
}

.blog{
    padding: 100px 0;
    align-items: center;
    background: black;
}

.blog-content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    
}

.blog-1{
    flex-basis: Calc(33.3% - 25px);
    background: #555555;
    
}

blog-1 img{
    margin-bottom: 15px;
    
    
}

blog-txt{
 padding:20px;
}

blog-txt h3{
    color:#FFFFFF;
    font-size:18px;
    margin:15px 0;
    
}

.contacto {
    padding: 100px 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url('/im치genes /bg2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content{
    text-align: center;
    
}

.footer {
    padding: 100px 0;
    background: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background: black;
}

.link h3 {
    font-size: 17px;
    color: white; /* Color v치lido */
    margin-bottom: 10px;
    text-transform: uppercase;
}

.link a {
    font-size: 17px;
    color: white; /* Color v치lido */
    display:block;
    margin-bottom: 10px;
}

.link a:hover{
    color: royalblue;
}

